
/*general*/
	body{
		margin:0;
		background-color: white;
	}
	main{
		padding-bottom:400px;
		/* background-image:radial-gradient(circle, #363636 0%, #001c3b 40%) !important; */
	}

/* log */
	.log{
		padding:30px 0;
		border-top:solid 2px black;
		border-bottom:solid 2px black;
		text-align:center;
	}

/*table*/
	.log-table{
		margin:auto;
		border:solid 3px black;
		border-collapse: collapse;
		text-align:center;
		font-weight:bold;
	}
	.log-table td,.log-table th{
		border:solid 0.5px black;
		padding:0.3em 1em;
	}

/* button */

	.button-wrapper{
		margin:20px 0;
		text-align: center;

	}
	.button{
		display:inline-block;
		padding:0.4em 1em;
		border-radius:5px;
		font-weight:bold;
		background-color: #555;
		color:white;
	}